##### Old preprocessing steps

In [ ]:
# Stuff that's in the conservation list that's not in the atlas
merged_df = pd.merge(
    conservation_status,
    species_lookup,
    on=["speccode", "english_name"],
    how="outer",
    indicator=True,
)

values_only_in_df1 = merged_df.loc[
    merged_df["_merge"] == "left_only", ["speccode", "english_name"]
]
values_only_in_df1

KeyError: 'english_name'

In [ ]:
# Unify names - change conservation names to match atlas and take atlas names
cons_latin = pd.read_csv("data/conservation/conservation_status_latin.csv")
cons_latin

     speccode      english_name_spec             scientific_name status
0           1     red-throated diver              gavia stellata      g
1           2   black-throated diver               gavia arctica      a
2           2   black-throated diver               gavia arctica      g
3           3   great northern diver                 gavia immer      a
4           3   great northern diver                 gavia immer      g
..        ...                    ...                         ...    ...
641      1583      rock/water pipit   anthus petrosus/spinoletta      g
642      1584   white-cheeked turaco            tauraco leucotis      g
643      1586          violet turaco          musophaga violacea      g
644      1603             house crow            corvus splendens      g
645      1663  blue-crowned parakeet  thectocercus acuticaudatus      g

[646 rows x 4 columns]

In [ ]:
cons_latin[cons_latin.duplicated("speccode")]

     speccode     english_name_spec        scientific_name status
2           2  black-throated diver          gavia arctica      g
4           3  great northern diver            gavia immer      g
10          8      red-necked grebe     podiceps grisegena      r
12          9       slavonian grebe       podiceps auritus      r
14         10    black-necked grebe   podiceps nigricollis      a
..        ...                   ...                    ...    ...
557       901           water pipit      anthus spinoletta      g
560      1008   balearic shearwater  puffinus mauretanicus      r
580      1079        lesser redpoll       acanthis cabaret      r
605      1282    yellow-legged gull      larus michahellis      g
607      1283          caspian gull       larus cachinnans      a

[181 rows x 4 columns]

In [ ]:
conservation_status.sort_values(by="speccode")

     speccode           english_name status
173         1     red-throated diver      g
142         2   black-throated diver      a
174         2   black-throated diver      g
145         3   great northern diver      a
175         3   great northern diver      g
..        ...                    ...    ...
633      1583      rock/water pipit       g
634      1584   white-cheeked turaco      g
635      1586          violet turaco      g
636      1603             house crow      g
637      1663  blue-crowned parakeet      g

[646 rows x 3 columns]

In [ ]:
cons_no_dupe_latin = pd.merge(
    cons_no_dupe, species_lookup, how="left", on="speccode", suffixes=["_cons", "_spec"]
)
cons_no_dupe_latin = cons_no_dupe_latin.sort_values(by="speccode").dropna(
    subset=["taxonomic_rank"]
)
cons = cons_no_dupe_latin[
    ["speccode", "english_name_spec", "scientific_name", "status"]
]

In [ ]:
cons_no_dupe = conservation_status.drop_duplicates(subset="speccode")